<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" *ngIf="isAuth==true">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" (click)="scrollTop()">MyProject</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="row">
            <div class="col-sm-3">
              <button mat-icon-button color="primary" style>
                <mat-icon>home</mat-icon>
              </button>
            </div>
            <div class="col-sm-9">
              <a class="nav-link active" type="button" (click)="scrollTop()"routerLink="" aria-current="page">Anasayfa</a>
            </div>                    
          </div>
        </li>
        <li class="nav-item" >
          <a class="nav-link" type="button" routerLink="/adayprofil/{{adayId}}" (click)="setAdayId()" (click)="scrollTop()">Profil</a>
        </li>
      </ul>      
      <div class="row">
        <form [formGroup]="searchForm">
          <mat-form-field style="width: 300px;">
            <mat-label style="color: rgb(154, 172, 136);">
              Arama yap
            </mat-label>
            <input [(ngModel)]="filterText" formControlName="filterTextForm" matInput type="text"
              [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" style="width: 250px;" autoActiveFirstOption=true
              panelWidth="300px" >
              <mat-option *ngFor="let aday of adaylar" [value]="">
                <div class="row" routerLink="/adayprofil/{{aday.id}}">
                  <div class="col-md-12">
                    <img src="{{aday.adayImagePath }}" alt="fotoğraf bulunamadi" class="rounded-circle" width="50">
                    <span class="text-secondary">{{aday.ad}} {{aday.soyad}}</span>
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</nav>

